@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #120A07;
  --card: #1E1410;
  --accent: #D4A373;
  --text: #FFFFFF;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
